@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.containerCart{
    font-family: 'Poppins', sans-serif;
}

.subHeader{
    background-color: #F1F2F4;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subHeaderText{
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    letter-spacing: 0.1rem;
    margin-left: 5vw;
    border-bottom: black 2px solid;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.cartNumber{
    color: white;
    margin-left: 0.5vw;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cartContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tableCart {
    border-collapse: collapse;
    width: 75%;
    font-size: 1rem;
}
  
.tableCart tr {
    border-bottom: 2px solid #F1F2F4;
}


.tableCart th, .tableCart td {
    padding-top: 15px;
    padding-bottom: 15px;
    /* margin-right: 500px; */
}

.cartProductBox {
    display: flex;
    align-items: center;
}

.qtyBox{
    display:flex;
    justify-content:left; 
    align-items: center;
}

.qtyBoxInput{
    border: 1px solid silver;
    width: 8vw;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.cartChangeQtyButton{
    border: transparent;
    background-color: transparent;
    font-size: 1rem;
    color: silver;
}

.cartDeleteButton{
    border: transparent;
    background-color: transparent;
    font-size: 1rem;
    color: silver;
}

.cartChangeQtyInput{
    padding: 10px;
    text-align: center;
    width: 2vw;
    border: transparent;
}


.couponContainer{
    border: 3px solid #F1F2F4;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
    width: 75%;
    font-size: 1rem;
}

.inputCoupon{
    width: 30vw;
    border-bottom: #F1F2F4 2px solid;
    border-top:transparent;
    border-right:transparent;
    border-left:transparent;
    padding: 5px;
}

.buttonCoupon{
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: black 2px solid;
    background-color: transparent;
    font-weight: 600;
}

.checkoutContainer{
    border: 3px solid #F1F2F4;
    height: 45vh;
    display: flex;
    padding: 5vh 1.5vw;
    width: 75%;
    font-size: 1rem;
}

.checkoutContent{
    margin-left: 35vw;
}

.subTotalCheckout{
    display: flex;
    height: 5vh;
    border-bottom: 1px solid silver;
    width: 30vw;
}

.subTotalCheckout > div:first-child{
    margin-right: 25vh;
    width: 7vw;
}

.shippingCheckout{
    display: flex;
    height: 5vh;
    border-bottom: 1px solid silver;
    width: 30vw;
}

.shippingCheckout > div:first-child{
    margin-right: 25vh;
    width: 7vw;

}

.totalCheckout{
    display: flex;
    height: 5vh;
    border-bottom: 1px solid silver;
    width: 30vw;
}

.totalCheckout > div:first-child{
    width: 7vw;
    margin-right: 25vh;
}

.buttonCheckout{
    width: 100%;
    background-color: black;
    padding: 2vh 5vw;
    color: white;
}



@media (max-width: 1280px) {
    .subTotalCheckout > div:first-child,.shippingCheckout > div:first-child, .totalCheckout > div:first-child {
        margin-right: 20vh;
    }

    .cartChangeQtyInput{
        width: 4vw;
    }

}

@media (max-width: 1024px) {
    .tableCart {
        width: 90%;
        font-size: 0.9rem;
    }
    .cartChangeQtyInput{
        width: 4vw;
    }

    .checkoutContainer{
        width: 90%;
        font-size: 0.9rem;
    }

    .checkoutContent{
        margin-left: 45vw;
    }

    .subTotalCheckout > div:first-child,.shippingCheckout > div:first-child, .totalCheckout > div:first-child {
        margin-right: 15vh;
    }

}

@media (max-width: 768px) {
    .tableCart {
        font-size: 0.8rem;
    }

    .qtyBoxInput{
        width: 10vw;
    }

    .checkoutContainer{
        width: 90%;
        font-size: 0.8rem;
    }

    .checkoutContent{
        margin-left: 40vw;
    }

    .subTotalCheckout,.shippingCheckout, .totalCheckout {
        width: 35vw;
    }

    .subTotalCheckout > div:first-child,.shippingCheckout > div:first-child, .totalCheckout > div:first-child {
        margin-right: 15vh;
    }
}

@media (max-width: 640px) {
    .tableCart {
        width: 95%;
        font-size: 0.7rem;
    }

    .qtyBoxInput{
        width: 12vw;
    }

    .cartChangeQtyInput{
        width: 5vw;
    }

    .checkoutContainer{
        width: 95%;
        font-size: 0.7rem;
    }

    .checkoutContent{
        margin-left: 40vw;
    }

    .subTotalCheckout,.shippingCheckout, .totalCheckout {
        width: 40vw;
    }

    .subTotalCheckout > div:first-child,.shippingCheckout > div:first-child, .totalCheckout > div:first-child {
        margin-right: 15vh;
    }
}


@media (max-width: 351px) {
    .checkoutContainer{
        width: 98%;
        font-size: 0.7rem;
    }

    .checkoutContent{
        margin-left: 15vw;
    }
    .subTotalCheckout,.shippingCheckout, .totalCheckout {
        width: 65vw;
    }

    .subTotalCheckout > div:first-child,.shippingCheckout > div:first-child, .totalCheckout > div:first-child {
        margin-right: 13vh;
    }

    .imageTable{
        width: 50%;
    }

    .tableCart {
        width: 98%;
        font-size: 0.7rem;
    }

    .cartBoxContent{
        position: relative;
    }

    .tableHead {
        color: white;
    }

    .qtyBox{
        position: absolute;
        bottom: 3%;
        right: 3%;
    }

    .qtyBoxInput{
        width: 25vw;
    }

    .cartChangeQtyInput{
        width: 15vw;
    }

    .cartDeleteButton{
        position: absolute;
        bottom: 7%;
        right: 1%;
    }

}