.container {
    margin-top: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
}

.container h2 {
    margin-bottom: 0.6rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: capitalize;
}

.input {
    padding: 0.5rem;
    display: inline-block;
    font-size: 1rem;
    width: 80%;
    border: none;
    border-bottom: 1.5px solid #aaa;
    transition: all 0.3s;
}

.input:focus,
.input:hover {
    outline: none;
    border-bottom: 1.5px solid black;
}

.input:focus.input::placeholder {
    opacity: 0;
}

.btn {
    margin-left: -1.8rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-0.3rem);
}
