.container {
    padding: 1.2rem 4rem;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin-bottom: 0;
}

.contact {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1rem;
}

.link {
    text-decoration: none;
    color: #999;
    transition: all 0.3s;
}

.link:hover {
    color: black;
}

.media {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.2rem;
    color: #999;
}

.media > *:hover {
    color: black;
}
@media (max-width: 451px) {
    .container {
        padding: 1.2rem 2rem;
    }

    .contact {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0.1rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 351px) {
}
