.header {
    position: sticky;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.9rem 3rem 1rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: background-color 0.2s;
}

.header:hover,
.header.header--active {
    background-color: rgba(197, 186, 186, 0.39);
    backdrop-filter: blur(10px);
}

.header img {
    width: 8.25rem;
    height: 1.5rem;
    margin-top: -0.5rem;
}

.list {
    list-style: none;
    display: flex;
    gap: 1.8rem;
    font-size: 1rem;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 1px;
    padding: 0;
}

.list.menu {
    flex-direction: column;
    font-size: 1.5rem;
}

.list.menu.sublink {
    gap: 0.1rem;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}

.link:hover {
    color: black;
}

.link::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.5s;
}

.link:hover::after {
    transform: scaleX(1);
    opacity: 1;
}

.active::after {
    opacity: 1;
    transform: scaleX(1);
}

.sub-link {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}

.sub-link:hover {
    color: black;
}

.sub-link.sub-link--cart {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}

.menu .sub-link {
    font-size: 1rem;
}

.cart {
    position: absolute;
    top: -1rem;
    left: 1rem;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    line-height: 1;
}

.dropdown {
    float: left;
    overflow: hidden;
}


.dropdownContent {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    float: none;
    color: #23232c;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0.8s;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropwdown-item {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
    color: #23232c;
    text-decoration: none;
    text-transform: none;
}

.dropwdown-item:hover {
    color: inherit;
}

.logout {
    border-top: 1px solid #eaebee;
}

.logout:hover {
    color: red;
}

.menu-icon {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    display: none;
    visibility: hidden;
    position: fixed;
    top: 1.1rem;
    right: 1.5rem;
    z-index: 99999999;
}

.mobile {
    position: fixed;
    z-index: 9999999;
    top: 0.9rem;
    right: 1.1rem;
    width: 2rem;
    height: 2rem;
    background-image: radial-gradient(#374151, #6b7280);
    border-radius: 100%;
    transform: scale(0);
    transition: all 0.4s;
}

.mobile.active {
    transform: scale(80);
}

.mobile-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform: translate(-500%, -50%) scale(0);
    transition: transform 0.4s 0.2s;
    opacity: 0;
}

.mobile-menu.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .menu-icon {
        display: block;
        visibility: visible;
    }

    .sub-link.sub-link--cart {
        margin-top: 2.8rem;
        font-size: 1.5rem;
    }

    .sub-link,
    .cart,
    .link {
        color: white;
    }

    .link::after {
        background-color: white;
    }
}

@media (max-width: 1024px) {
    .list {
        gap: 1rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 1280px) {
    .header {
        padding: 1.9rem 1rem 1rem;
    }

    .sub-link {
        font-size: 0.9rem;
    }
}