.container {
    padding: 1.3rem 0 0;
    text-align: center;
    position: relative;
}

.heading {
    width: max-content;
    margin: 0 auto;
    padding-bottom: 3px;
    font-size: 2rem;
    font-weight: 400;
    color: black;
    text-transform: capitalize;
    border-bottom: 3px solid rgb(230, 89, 89);
}

.image {
    object-fit: cover;
    width: 100%;
    height: 9.5rem;
    object-position: center;
    filter: brightness(0.3);
}
