.container {
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
}

.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 14rem));
    justify-content: center;
    column-gap: 3.2rem;
    row-gap: 6.4rem;
}

.btn {
    background-color: black !important;
    border: none !important;
    padding: 1rem 4rem !important;
    font-size: 1.2rem !important;
    color: white !important;
    cursor: pointer !important;
    transition: all 0.3s !important;
}

.btn:hover {
    transform: translateY(-0.7rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.171);
}

.btn:active {
    transform: translateY(0);
    box-shadow: none;
}
