html {
    font-size: 100%;
}

.general-area {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('../public/loginAssets/wp3646146-men-fashion-wallpapers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    animation: fadeIn 1s;
}

.btnFacebook {
    width: 220px;
    height: 45px;
    border-radius: 6px;
    background: #3b5998;
    color: white;
    border: 0px transparent;
    text-align: center;
    margin-left: 110px;
    display: inline-block;
    margin-top: 5px;
    font-size: 1rem;
}

.btnFacebook:hover {
    background: #3b5998;
    opacity: 0.6;
}

.img-tagline {
    animation: fadeIn 2s;
}

#text-tagline {
    font-size: 2rem;
    font-weight: 450;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 3px 2px black;
    animation: fadeIn 2s;
}

.form-area {
    border-radius: 10px;
    background-color: rgba(39, 39, 39, 0.678);
    width: 100%;
    animation: fadeIn 2s;
}

.form-label,
.register span {
    color: rgb(192, 196, 199);
}

.input:focus::placeholder {
    opacity: 0;
}

.input::placeholder {
    font-size: 1rem;
}

.input:focus+.label {
    transform: translateY(0.1rem);
    opacity: 1;
    visibility: visible;
}

.label {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    transform: translateY(-2.4rem);
}

#togglePassword {
    cursor: pointer;
    padding-top: 15px;
}

#register,
#forgot-password {
    text-decoration: none;
    color: rgb(0, 74, 212);
}

#register:hover,
#forgot-password:hover {
    text-decoration: none;
    color: rgb(46, 46, 231);
    cursor: pointer;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: black;
}

#btn-submit {
    width: 100%;
    height: 45px;
    border-radius: 15px;
}

#google-btn {
    margin: 0px 110px;
}

/* ============================================ animation =====================================================*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ====================================== //animation end tag// =====================================================*/

/* ========================================= media queries =====================================================*/
@media (min-width: 1370px) {
    html {
        font-size: 125%;
    }

    .btnFacebook {
        margin-left: 150px;
        font-size: 0.8rem;
    }

    #text-tagline {
        font-size: 1.7rem;
    }

    #register,
    #forgot-password {
        text-decoration: none;
        color: rgb(0, 74, 212);
    }

    #register:hover,
    #forgot-password:hover {
        text-decoration: none;
        color: rgb(46, 46, 231);
        cursor: pointer;
    }

    #btn-submit {
        height: 55px;
    }

    #google-btn {
        margin: 0px 150px;
    }

}

@media (max-width: 1200px) {
    #text-tagline {
        font-size: 30px;
    }

    .btnFacebook {
        margin-left: 70px;
    }

    #google-btn {
        margin: 0px 70px;
    }
}

@media (max-width: 990px) {
    #text-tagline {
        font-size: 16px;
    }

    .img-tagline {
        width: 70%;
    }

    .btnFacebook {
        margin-left: 70px;
    }

    #google-btn {
        margin: 0px 70px;
    }
}

@media (max-width: 750px) {
    .general-area {
        background-size: 280%;
        background-position: -110px 0;
    }

    #text-tagline {
        font-size: 20px;
    }

    .img-tagline {
        width: 45%;
    }

    .btnFacebook {
        margin-left: 100px;
    }

    #google-btn {
        margin: 0px 100px;
    }
}

@media (max-width: 570px) {

    #text-tagline {
        font-size: 20px;
    }

    .img-tagline {
        width: 45%;
    }

    .form-area {
        border-radius: 0px;
        background-color: rgba(39, 39, 39, 0);
        width: 4%;
    }

    .btnFacebook {
        margin-left: 150px;
    }

    #google-btn {
        margin: 0px 150px;
    }
}

@media (max-width: 500px) {
    .general-area {
        background-size: 260%;
        background-position: -53px 0;
    }

    #text-tagline {
        font-size: 20px;
    }

    .img-tagline {
        width: 45%;
    }

    .form-area {
        border-radius: 0px;
        background-color: rgba(39, 39, 39, 0);
        width: 4%;
    }

    .btnFacebook {
        margin-left: 85px;
    }

    #google-btn {
        margin: 0px 85px;
    }
}

@media (max-width: 400px) {
    .general-area {
        background-size: 260%;
        background-position: -53px 0;
    }

    #text-tagline {
        font-size: 20px;
    }

    .img-tagline {
        width: 45%;
    }

    .form-area {
        border-radius: 0px;
        background-color: rgba(39, 39, 39, 0);
        width: 4%;
    }

    .btnFacebook {
        margin-left: 70px;
    }

    #google-btn {
        margin: 0px 70px;
    }
}

/* ==================================== //media queries end tags// =====================================================*/