.wrapperList {
  border: 1px solid #eaebee;
}

.wrapperList2 {
  width: 90%;
  margin: auto;
}

.wrapperCard {
  border: 1px solid #eaebee;
  display: block;
  position: relative;
  /* margin: 20px; */
  /* padding: 16px; */
  box-shadow: 0 1px 6px 0 var(--color-shadow, rgba(49, 53, 59, 0.12));
}

.borderTop {
  border-top: 1px solid #eaebee;
}

.orderTitle {
  font-size: 32px;
  font-weight: 500;
  color: #1e1e23;
  text-align: center;
  padding: 20px;
}

.productName {
  font-size: 24px;
  font-weight: 200;
  color: #1e1e23;
}

.productDesc {
  font-size: 16px;
  font-weight: 400;
  color: #7c7c80;
}

.tableImage {
  width: 20%;
}

.productPrice {
  font-size: 24px;
  font-weight: 500;
  color: #1e1e23;
}

.printButton {
  position: fixed;
  width: 9%;
  height: 7%;
  bottom: 70px;
  right: 160px;
  color: white;
  text-align: center;
  font-size: 0.7rem;
  z-index: 100;
  border-radius: 50px;
  background-color: #1e1e23;
  transition: 0.3s;
}

.printButton:hover {
  box-shadow: 6px 8px grey;
  transform: translateY(-6px);
}

.printButton:active {
  box-shadow: 0px 0px;
  transform: translateY(0px);
}
